{
  "azure_subscription_id": "<AZURE_SUBSCRIPTION_ID>",
  "azure_tenant_id": "<AZURE_TENANT_ID>",
  "azure_secret": "<AZURE_SECRET>",
  "azure_services_resource_group": "<AZURE_RESOURCE_GROUP>",
  "azure_monitor_accounts_display_name": "<AZURE_METRICS_DISPLAY_NAME>",
  "azure_monitor_metric_prefix": "Custom Metrics|Azure|",
  "azure_monitor_machine_path": "<AZURE_MACHINE_PATH>",
  "azure_client_id": "<AZURE_CLIENT_ID>",
  "application_name": "<APPD_APPLICATION>",
  "tier_name": "<APPD_TIER_NAME>",
  "node_name": "<APPD_NODE_NAME>",
  "account_name": "<APPD_CUSTOMER_NAME>",
  "account_access_key": "<APPD_ACCESS_KEY>",
  "controller_host": "<APPD_CONTROLLER_HOST>",
  "controller_port": "<APPD_CONTROLLER_PORT>",
  "controller_ssl_enabled": "true",
  "required_packages": [
    "openjdk-8-jdk",
    "python3-lxml",
    "unzip"
  ],
  "extension_workbench_script_local": "../bin/run-extensions-workbench.sh",
  "extension_workbench_script": "run-extensions-workbench.sh",
  "azure_monitor_config_template_local": "../AzureMonitor/config.yml.j2",
  "azure_monitor_config_file": "AzureMonitor/config.yml",
  "machine_agent_source": "https://dustinmoorman-com-web-utilities.s3.us-east-2.amazonaws.com/machineagent-bundle-64bit-linux-20.6.0.2676-1.zip",
  "azure_monitor_extension_source": "https://www.appdynamics.com/media/uploaded-files/1594108702/azuremonitor-1.0.2.zip",
  "machine_agent_installer_archive": "machineagent-bundle-64bit-linux-20.3.2.2520.zip",
  "machine_agent_directory": "/opt/appdynamics/machine-agent",
  "machine_agent_systemd_service_name": "appdynamics-machine-agent",
  "machine_agent_systemd_service_file": "etc/systemd/system/appdynamics-machine-agent.service",
  "server_visibility_enabled": "true",
  "appdynamics_dir": "/opt/appdynamics"
}
